body{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container{
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #DDD;
  text-align: left;
}
.container h1{
  font-size: 20px;
}